<div class="Lsite fl">
    <div class="popBookInfo clearfix">
        <div class="bookBg"><img width="195" height="270" src="<%=cover%>?gedecache=1"></div>
        <div class="info">
            <dl>
                <dt><%=title%></dt>
                <dd><span><%=author%></span></dd>
            </dl>
            <div class="clearfix">
                <div class="QR"><img width="152" height="152"></div>
                <div class="tips">扫一扫免费下载图书</div>
            </div>
            <dl>
                <dt></dt>
                <dd>出版社：<span><%=publish%></span></dd>
            </dl>
        </div>
    </div>
</div>
<!--
<div class="Rsite fl">
    <%if(summary){%>
        <div class="tit png_box">简介</div>
        <div class="shortInfo"><%=summary%></div>
    <%}%>
    <div class="clearfix"><div class="onlineRead"></div></div>
    <%if(catalog.length > 0){%>
    <div class="tit png_box">目录</div>
    <div class="list">
        <li></li>
    </div>
    <%}%>
</div>
-->